<div class="container-fluid">
        <div class="row" style="border-bottom-color: coral; border-style: inset;">
                <div class="col-md-6 col-xs-6">
                        <a href="">
                                <h1 style="color:crimson;">{{ title }}</h1>
                        </a>
                </div>
                <div class="col-md-6 col-xs-6" style="text-align: end;">
                        <nav class="navbar navbar-expand-lg navbar-light title">
                                <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="padding-left: 57%;">
                                        <div class="navbar-nav">
                                                <a class="nav-item nav-link navbar-left active" href="#"><label class="title">Home</label> <span class="sr-only">(current)</span></a>
                                                <a class="nav-item nav-link navbar-left" routerLink="first"><label class="title">Features</label></a>
                                                <a class="nav-item nav-link navbar-left" routerLink="sec"><label class="title">Pricing</label></a>
                                                <a class="nav-item nav-link navbar-left" href="#"><label class="title">Disabled</label></a>
                                        </div>        
                                </div>        
                        </nav>
                   
                </div>
        
        </div>
        <router-outlet></router-outlet>
        <div class="row" style=" border-style: inset; border-bottom: orange; margin-top: 2%;">
                <div class="col-md-6 foot1">
                        <!-- Footer -->
                        <fa name="fas fa-camera fa-xs"></fa>
                        <div class="foot2">
                                <div class="sicons"><fa name = "fab fa-facebook" ></fa></div>
                                <div class="sicons"><fa name = "instagram" ></fa></div>
                                <div class="sicons"><fa name = "twitter " ></fa></div>
                               
                        </div>
                        
                        
               
              
              
                        <!-- Footer -->
                </div>

                
               
                <div class="col-md-6">
                        <!-- Footer -->
                        <footer class="page-footer font-small mdb-color darken-3 pt-4">

                <!-- Footer Elements -->
                <div class="container">
              
                  <!--Grid row-->
                  <div class="row d-flex justify-content-center">
              
                    <!--Grid column-->
                    <div class="col-md-10">
              
                      <!-- Video -->
                      <div class="embed-responsive embed-responsive-16by9 mb-4">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n-swQlncOV4" allowfullscreen></iframe>
                      </div>
              
                    </div>
                    <!--Grid column-->
              
                  </div>
                  <!--Grid row-->
              
                </div>
                <!-- Footer Elements -->
              
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3"><div style="color: orange">© 2018 Copyright:</div>
                  <a href="https://mdbootstrap.com/education/bootstrap/">UVR Films</a>
                </div>
                <!-- Copyright -->
              
              </footer>
              <!-- Footer -->
                </div>
                
        </div>
</div>

                
          

          
        <!-- ##### Our Services End ##### -->
        <!-- ##### Videos ##### -->
      

  



    
    



